.blockTile {
    background-color: lightblue;
}
.floorTile {
    background-color: white;
}
.penguin {
    background-color: red;
}

.blockTile, 
.penguin,
 .floorTile {    
    height: 100%;
    width: 100%;
}